.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    max-width: 40vw;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 10vh;
    border-right: 1px solid lightgray;
    cursor: pointer;
}

.sidebar__header:hover {
    background-color: #ebebeb;
}

.sidebar__headerLeft {
    align-items: center;
    margin: auto 1vw;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 5vw;
    padding-left: 20px;
    font-weight: 600;
    margin: auto;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 5vh;
    width: 98%;
    padding: 1%;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 98%;
    height: 3vh;
    border-radius: 20px;
}

.sidebar__searchContainer > input {
    border: none;
    width: 90%;
}

.sidebar__searchContainer > input::placeholder {
    padding-left: 5%;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding-left: 1%;
}

.sidebar__chats {
    flex: 1;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    border-right: 1px solid lightgray;
    overflow: scroll;
}

.sidebar__chats::-webkit-scrollbar {
    display: none;
}